* {
  box-sizing: border-box;
}
body {
  background-color: #eff3f7;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

html,
body {
  padding-top: 50px;
  justify-content: center;
  display: flex;
}
